* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%;
  font-size: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

input, button {
  border: none; }

.ic {
  display: inline-block;
  margin-right: 10px;
  background: url("../img/icon-sprite.png");
  vertical-align: middle; }
  .ic-phone {
    width: 14px;
    height: 17px;
    margin-right: 5px;
    background-position: 0 0; }
  .ic-message {
    width: 16px;
    height: 12px;
    background-position: 0 -17px; }
  .ic-icq {
    width: 18px;
    height: 18px;
    background-position: 0 -29px; }
  .ic-cart {
    width: 16px;
    height: 15px;
    background-position: 0 -49px; }
  .ic-lock {
    width: 16px;
    height: 15px;
    background-position: 0 -65px; }
  .ic-pencil {
    width: 16px;
    height: 16px;
    margin: 0 0 0 5px;
    background-position: 0 -84px; }
  .ic-right {
    width: 7px;
    height: 13px;
    margin: 0 0 0 5px;
    background-position: -16px 0; }

#wrapper {
  background-color: #f1f2f1; }

.container {
  width: 960px; }

.header .menu-btn {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 2;
  cursor: pointer; }
  .header .menu-btn span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background-color: #f8f8f8; }
  .header .menu-btn span:last-child {
    margin-bottom: 0; }

.header-menu {
  position: relative;
  padding: 10px 15px;
  background-color: #4f4f4f; }
  .header-menu ul {
    margin: 0; }
  .header-menu li {
    float: left;
    margin-right: 30px; }
  .header-menu li:last-child {
    margin-right: 0; }
  .header-menu a {
    font-size: 14px;
    line-height: 22px;
    color: #e2e2e2; }
  .header-menu input[type="text"] {
    width: 100%;
    height: 22px;
    padding: 0 25px 0 10px;
    float: left;
    background: #f1f2f1 url("../img/search.png") no-repeat center right 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 1px 1px 1px 0 #000;
    -moz-box-shadow: inset 1px 1px 1px 0 #000;
    -ms-box-shadow: inset 1px 1px 1px 0 #000;
    -o-box-shadow: inset 1px 1px 1px 0 #000;
    box-shadow: inset 1px 1px 1px 0 #000; }
    .header-menu input[type="text"].placeholder {
      font-size: 14px;
      color: #c0c0c0; }
    .header-menu input[type="text"]:-moz-placeholder {
      font-size: 14px;
      color: #c0c0c0; }
    .header-menu input[type="text"]::-moz-placeholder {
      font-size: 14px;
      color: #c0c0c0; }
    .header-menu input[type="text"]:-ms-input-placeholder {
      font-size: 14px;
      color: #c0c0c0; }
    .header-menu input[type="text"]::-webkit-input-placeholder {
      font-size: 14px;
      color: #c0c0c0; }

.header-content {
  background-color: #f8f8f8; }
  .header-content .logo {
    padding-top: 8px;
    padding-bottom: 30px; }
    .header-content .logo img {
      width: 100%;
      height: auto; }
  .header-content .contacts {
    padding-top: 45px;
    padding-left: 50px; }
    .header-content .contacts .number {
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
      color: #4f4f4f; }
      .header-content .contacts .number span {
        color: #ed6d3b; }
    .header-content .contacts .message, .header-content .contacts .icq {
      display: inline-block;
      font-size: 13px;
      color: #4f4f4f; }
    .header-content .contacts .message {
      margin-right: 20px; }
    .header-content .contacts .message a {
      color: #4f4f4f; }
  .header-content .shopping-cart {
    padding-top: 45px; }
    .header-content .shopping-cart .account a {
      color: #ed6d3b; }

.main-content {
  position: relative;
  margin-top: 7px; }
  .main-content .container {
    padding: 25px 30px;
    background-color: #f8f8f8; }
  .main-content .sidebar-btn {
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 2;
    cursor: pointer; }
    .main-content .sidebar-btn span {
      display: block;
      width: 30px;
      height: 4px;
      margin-bottom: 4px;
      background-color: #4f4f4f; }
    .main-content .sidebar-btn span:last-child {
      margin-bottom: 0; }

.sidebar .product-menu {
  width: 100%;
  height: auto; }
  .sidebar .product-menu li {
    width: 100%;
    background-color: #f3f2f0;
    margin-bottom: 2px; }
  .sidebar .product-menu li a {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 30px;
    color: #4f4f4f; }
  .sidebar .product-menu li a.active {
    text-decoration: none;
    color: #fff;
    background-color: #ed6d3b; }
  .sidebar .product-menu .custom-product {
    display: none; }
    .sidebar .product-menu .custom-product li {
      padding-left: 15px;
      background-color: #f8f8f8;
      margin-bottom: 0;
      color: #8c8c8c; }
    .sidebar .product-menu .custom-product li a, .sidebar .product-menu .custom-product li span {
      display: inline-block;
      color: #8c8c8c; }
    .sidebar .product-menu .custom-product li span {
      margin-right: 5px; }
    .sidebar .product-menu .custom-product li a {
      width: auto;
      padding-left: 0;
      font-size: 13px; }

.sidebar .news {
  margin-top: 80px; }
  .sidebar .news p {
    margin: 0; }
  .sidebar .news .sb-news {
    margin-bottom: 20px; }
  .sidebar .news .date {
    font-size: 12px;
    line-height: 20px;
    color: #898989; }
  .sidebar .news .title {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px; }
  .sidebar .news .title a {
    color: #4f4f4f; }
  .sidebar .news .simple-text {
    font-size: 13px;
    line-height: 20px;
    color: #7d7d7d; }

.sidebar button {
  width: 100%;
  height: 47px;
  margin: 25px 0;
  font-size: 20px;
  color: #fff;
  background: #ed6d3b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .sidebar button:hover {
    background-color: #ca663f; }

.sidebar .empty-block {
  width: 100%;
  height: 245px;
  margin-bottom: 30px;
  background-color: #bdbdbd; }

.products-slider {
  position: relative;
  height: 230px;
  padding-bottom: 50px;
  white-space: nowrap;
  overflow: hidden; }
  .products-slider .chevron {
    position: absolute;
    top: 40%;
    cursor: pointer; }
    .products-slider .chevron-left, .products-slider .chevron-empty-left {
      left: 0; }
    .products-slider .chevron-left {
      z-index: 2; }
    .products-slider .chevron-empty-left {
      z-index: 3; }
    .products-slider .chevron-right, .products-slider .chevron-empty-right {
      right: 0; }
    .products-slider .chevron-right {
      z-index: 3; }
    .products-slider .chevron-empty-right {
      z-index: 2; }
  .products-slider .slide {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 40px; }
  .products-slider .info {
    padding: 0; }
  .products-slider .title {
    border-bottom: 1px solid #222222;
    padding-bottom: 20px;
    white-space: normal; }
  .products-slider .title h3 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #010101; }
  .products-slider .about {
    padding: 10px 5px;
    border-bottom: 1px solid #222222; }
    .products-slider .about .info-list {
      margin: 0;
      padding: 0; }
      .products-slider .about .info-list li {
        padding-left: 5px;
        font-size: 13px;
        line-height: 20px;
        color: #4f4f4f; }
      .products-slider .about .info-list li:nth-child(2n-1) {
        background-color: #f3f2f0; }
  .products-slider .price {
    position: relative;
    padding-top: 20px;
    padding-left: 0; }
    .products-slider .price .name {
      margin-right: 5px;
      font-size: 18px;
      line-height: 20px;
      color: #717171; }
    .products-slider .price .quantity {
      position: relative;
      top: 2px;
      margin-right: 5px;
      font-size: 22px;
      line-height: 20px;
      color: #010101; }
    .products-slider .price .currency {
      font-size: 14px;
      line-height: 20px;
      color: #4f4f4f; }
    .products-slider .price .button {
      position: absolute;
      top: 17px;
      right: -30px;
      width: 100px;
      height: 30px;
      text-align: center;
      font-size: 13px;
      line-height: 32px;
      color: #fff;
      text-transform: uppercase;
      background-color: #4f4f4f;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer; }
      .products-slider .price .button:hover {
        background-color: #333; }
  .products-slider .picture {
    padding-right: 0; }
  .products-slider .picture img {
    width: 100%;
    height: auto; }

.content .title a {
  font-size: 17px;
  line-height: 30px;
  color: #000; }

.content .product {
  text-align: center;
  padding-bottom: 20px; }
  .content .product .pic {
    position: relative;
    margin-bottom: 5px; }
  .content .product img {
    width: 100%;
    height: auto;
    max-width: 200px !important; }
  .content .product .price {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 105px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 33px;
    background-color: #4f4f4f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #fff; }
  .content .product .upper-link {
    text-transform: uppercase; }
  .content .product a {
    color: #ed6d3b; }

.content h3 {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: #4f4f4f; }

.content .simple-text {
  margin-top: 5px;
  font-size: 13px;
  line-height: 18px;
  color: #4f4f4f; }

.content .simple-link {
  font-size: 14px;
  line-height: 20px;
  color: #ed6d3b; }

.sale {
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 20px; }

.bestseller {
  background-color: #fff;
  margin-bottom: 30px; }

.reviews, .about-company {
  padding: 0; }

.reviews-info {
  padding: 20px 10px 20px 0; }
  .reviews-info .rev-pic {
    width: 210px;
    height: 145px;
    margin-right: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #999999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }

.between-line {
  height: 2px;
  margin: 0;
  background-color: #eeeeee;
  border-bottom: 1px solid #fff; }

.about-company {
  padding: 0 10px 0 0;
  margin: 20px 0; }
  .about-company .simple-link {
    font-size: 13px;
    margin-left: 5px; }

.footer {
  margin-top: 7px;
  padding-bottom: 65px; }
  .footer nav {
    height: 40px;
    padding: 0 30px;
    background-color: #f8f8f8; }
    .footer nav li {
      margin-right: 25px;
      float: left; }
    .footer nav li:last-child {
      margin-right: 0; }
    .footer nav li a {
      font-size: 13px;
      line-height: 40px;
      color: #747474; }
  .footer .footer-content {
    margin-top: 20px; }
    .footer .footer-content p, .footer .footer-content a {
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 13px;
      color: #747474; }
    .footer .footer-content .dark {
      color: #5e5e5e; }
    .footer .footer-content img {
      display: inline-block;
      margin-right: 10px; }
    .footer .footer-content .shop-info {
      padding-right: 0; }
    .footer .footer-content .mid {
      padding-left: 30px; }
    .footer .footer-content .design-author {
      text-align: right; }

@media screen and (max-width: 991px) {
  .container {
    width: 100%; }
  .header-menu {
    padding: 10px; }
    .header-menu li {
      margin-right: 15px; }
  .header-content .contacts {
    padding-top: 25px;
    padding-left: 25px; }
  .header-content .shopping-cart {
    padding: 25px 0 0; }
  .main-content .container {
    padding: 15px; }
  .main-content .product-menu li a {
    padding-left: 5px;
    height: 20px;
    font-size: 13px;
    line-height: 20px; }
  .main-content .product-menu .custom-product li {
    padding-left: 10px; }
    .main-content .product-menu .custom-product li span {
      display: none; }
    .main-content .product-menu .custom-product li a {
      font-size: 11px; }
  .main-content button {
    font-size: 18px; }
  .content .products-slider {
    height: 250px; }
    .content .products-slider .chevron-right, .content .products-slider .chevron-empty-right {
      right: 5px; }
    .content .products-slider .about {
      padding: 5px 0; }
    .content .products-slider .price .button {
      right: -45px; }
  .footer nav {
    padding: 0 15px; }
  .footer .footer-content {
    padding: 0; }
    .footer .footer-content .mid {
      padding: 0; }
    .footer .footer-content img {
      margin-right: 5px; } }

@media screen and (max-width: 767px) {
  .header-menu nav {
    position: absolute;
    top: 105%;
    left: 0;
    width: 250px;
    z-index: 10;
    display: none; }
    .header-menu nav ul {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      overflow: hidden; }
    .header-menu nav li {
      margin-right: 0;
      float: none;
      background-color: #4f4f4f;
      border-bottom: 1px solid #f1f2f1; }
    .header-menu nav li a {
      padding-left: 15px;
      text-decoration: none; }
    .header-menu nav li:hover a {
      color: #ed6d3b; }
  .header-menu .search {
    float: right; }
  .header-content .logo {
    padding: 10px 0 10px;
    text-align: center; }
    .header-content .logo img {
      width: 70%; }
  .header-content .contacts {
    padding: 20px 0 0 10px; }
    .header-content .contacts .number {
      font-size: 12px; }
  .header-content .shopping-cart {
    padding: 10px 15px 20px;
    text-align: right; }
    .header-content .shopping-cart .bag, .header-content .shopping-cart .account {
      display: inline-block;
      vertical-align: middle; }
    .header-content .shopping-cart .bag {
      margin-right: 30px; }
  .main-content .sidebar {
    position: absolute;
    top: 5px;
    left: 50px;
    z-index: 10;
    width: 200px;
    display: none;
    padding: 0; }
    .main-content .sidebar .product-menu {
      border: 1px solid #4f4f4f;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden; }
      .main-content .sidebar .product-menu li {
        margin-bottom: 0;
        border-bottom: 1px solid #fff; }
  .main-content .products-slider {
    margin-top: 20px; }
    .main-content .products-slider .chevron-left, .main-content .products-slider .chevron-empty-left {
      left: 5px; }
    .main-content .products-slider .title h3 {
      font-size: 18px;
      line-height: 24px; }
    .main-content .products-slider .info-list li {
      padding: 0;
      font-size: 10px; }
    .main-content .products-slider .price span {
      margin-right: 0; }
    .main-content .products-slider .price .name {
      font-size: 14px; }
    .main-content .products-slider .price .quantity {
      font-size: 18px; }
    .main-content .products-slider .price .currency {
      font-size: 12px; }
    .main-content .products-slider .price .button {
      width: 80px;
      height: 25px;
      font-size: 10px;
      line-height: 25px; }
  .main-content .sale {
    margin-top: 20px; }
  .main-content .reviews, .main-content .reviews-info, .main-content .about-company {
    padding-left: 10px; }
  .footer nav {
    padding: 0 5px; }
    .footer nav li {
      margin-right: 15px; }
  .footer .footer-content .shop-info {
    margin-bottom: 20px; }
  .footer .footer-content .mid {
    padding: 0 15px; } }

@media screen and (max-width: 479px) {
  .col-xxs-3 {
    width: 25%;
    padding: 0 15px; }
  .col-xxs-6 {
    width: 50%;
    padding: 0 15px; }
  .col-xxs-12 {
    width: 100%;
    padding: 0 15px; }
  .col-xxs-9 {
    width: 75%;
    padding: 0 15px; }
  .hidden-xxs {
    display: none; }
  .header .header-content .logo img {
    max-width: 200px; }
  .header .header-content .contacts {
    text-align: center; }
    .header .header-content .contacts .number {
      display: block;
      font-size: 16px; }
  .header .header-content .shopping-cart {
    text-align: center; }
  .main-content .products-slider {
    height: 450px; }
    .main-content .products-slider .chevron {
      top: 20%; }
    .main-content .products-slider .price .button {
      right: 0; }
  .main-content .reviews-info .rev-pic {
    float: none;
    width: 100%; }
  .footer .footer-content .design-author {
    margin-top: 20px;
    text-align: left; } }
